<div class="container" style="background-color: #1b1b1c; min-height: 1125px; min-width: 390px;">
  <div class="about">
    <div class="col-md-offset-4 col-md-4">
    <h1>More about me</h1>
    <br>
      <p>My life has always been sport-driven since I was 10 years old, so my professional life has naturally been focused on sport, I have graduated as a sports educator in Aix-en-Provence. After a few years in the south of france i moved to Switzerland where I worked for the campus of the nations and the canton of Geneva as a track and field referent for 2 years. When I came back to France I took the direction of the athletic section of the SMUC for 2 years, it allowed me to realize that I needed something new in my life. So I decided to reorient myself in the web development, because I need a completely different environment from the previous one but it's also necessary that this environment keeps me in constant intelectual awakening in order to avoid monotony. So I followed the formation of The Wagon, in which I had the best training experience and because of that, I knew I wanted to work in this new environment. I keep a great sensitivity with sport I practice a lot of cycling, climbing, running and trekking. This new balance allows me to perform well in my professional life</p>
    </div>
    <div class="col-md-12">
      <br>
      <%= link_to "back to home", root_path, class: "btn btn-menu" %>
      <br>
      <br>
      <br>
      <%= link_to "My experience", experience_path, class: "btn btn-menu" %>
      <br>
      <br>
      <br>
      <%= link_to "My certifications", certification_path, class: "btn btn-menu" %>
    </div>
  </div>
</div>

