<div class="container" style="background-color: #1b1b1c; min-height: 1000px;">
  <div style="color: red;"><h1>My certifications</h1></div>
  <div class="container-certification">
    <div class="certification-item">
      <div class="certification-point"></div>
      <div class="row">
        <div class="col-md-5">
          <div class="timeframe">2018</div>
          <div class="heading">LeWagon</div>
          <div class="title">Full-stack Developer/Licence in web application developer</div>
          <div class="location">Marseille, France</div>
        </div>
        <div class="col">
          "Learning HTML, CSS, Bootsrap, JavaScript, jQuery, SQL, git, Github, Heroku and Ruby on Rails.
          <br/>
          Clone of AirBnB and a Rails prototype named UrbanTraining.eu"
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="certification-item">
      <div class="certification-point"></div>
      <div class="row">
        <div class="col-md-5">
          <div class="timeframe">2012</div>
          <div class="heading">Creps Sud-Est</div>
          <div class="title">Brevet d'état d'éducateur sportif</div>
          <div class="location">Aix-en-Provence, France</div>
        </div>
        <div class="col">
          "Common core, physiology, bio mechanics, sport's history, psycho-pedagogy, sport's regulation
          <br/>
          Athletic specialisation"
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
      <%= link_to "back to home", root_path, class: "btn btn-menu" %>
      <%= link_to "more about me", about_path, class: "btn btn-menu" %>
      <%= link_to "my experiences", experience_path, class: "btn btn-menu" %>
  </div>
</div>

