<div class="container" style="background-color: #1b1b1c;">
  <h1>My expriences</h1>
  <div class="container-experience">
    <div class="experience-item">
      <div class="experience-point"></div>
      <div class="row">
        <div class="col-md-5">
          <div class="timeframe">2018</div>
          <div class="heading">LeWagon</div>
          <div class="title">Full-stack Developer</div>
          <div class="location">Marseille, France</div>
        </div>
        <div class="col">
          "Porteur du projet Urbantraining, permettant de visiter la ville tout en faisant du sport."
        </div>
      </div>
    </div>
      <%= link_to "back to menu", root_path %>
      <%= link_to "more about me", about_path %>
      <%= link_to "see my certifications", certification_path %>
  </div>
<div>
