<div class="container" style="background-color: #1b1b1c; min-height: 1000px;">
  <div style="color: red;"><h1>My expriences</h1></div>
  <div class="container-experience">
    <div class="experience-item">
      <div class="experience-point"></div>
      <div class="row"">
        <div class="col-md-5">
          <div class="timeframe">2018</div>
          <div class="heading">fortalezalejeu</div>
          <div class="title">Full-stack Developer</div>
          <div class="location">Marseille, France</div>
        </div>
        <div class="col">
          "Adaptation of a board game in web application
          <br/>
          Ruby, RoR, CSS, HTML, JavaScript, React, Redux, Heroku"
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="experience-item">
      <div class="experience-point"></div>
      <div class="row"">
        <div class="col-md-5">
          <div class="timeframe">2018</div>
          <div class="heading">LeWagon</div>
          <div class="title">Full-stack Developer</div>
          <div class="location">Marseille, France</div>
        </div>
        <div class="col">
          "leader of the Urbantraining project, allowing to visit the city while playing sports.
          <br/>
          Ruby, RoR, CSS, HTML, JavaScript, Ajax, jQuery, Heroku"
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
      <div class="experience-item">
        <div class="experience-point"></div>
        <div class="row"">
          <div class="col-md-5">
            <div class="timeframe">2019</div>
            <div class="heading">LeWagon</div>
            <div class="title">Teacher Assistant</div>
            <div class="location">Marseille, France</div>
          </div>
          <div class="col">
            "Teacher assistant for the batch #212.
            <br/>
            Ruby, Regex and parsing specialisation"
          </div>
        </div>
      </div>
      <%= link_to "back to home", root_path, class: "btn btn-menu" %>
      <%= link_to "more about me", about_path, class: "btn btn-menu" %>
      <%= link_to "my certifications", certification_path, class: "btn btn-menu" %>
  </div>
<div>
