<div class="home-component">
  <section class="section-header">
    <div class="bg-part-right"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 align-items-center full-height d-flex" style="background-color: black;">
          <div class="avatar-container">
            <div class="deadpool"></div>
          </div>
        </div>
          <div class="col align-items-center full-height d-flex bg-right-col" style="background-color: #1b1b1c">
            <div class="info-container">
              <h1 class="info-name">
                <div class="first-name">Guillaume</div>
                <div class="last-name">Dauplat</div>
              </h1>
              <div class="info-title">Full-stack Web Developer</div>
              <div class="info-socials">
                <a href="https://github.com/g33ktou" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fab fa-github"></span>
                </a>
                <a href="https://www.linkedin.com/in/guillaume-dauplat-326841164/" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fab fa-linkedin"></span>
                </a>
                <a href=https://www.facebook.com/guillaume.freaks" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fab fa-facebook"></span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
