<div class="home-component">
  <section class="section-header">
    <div class="container">
      <div class="row" style="background-color: black;">
        <div class="avatar-container" style="text-align: center;">
          <div class="deadpool"></div>
        </div>
      </div>
      <div class="row align-items" style="background-color: #1b1b1c">
        <div class="info-container">
          <h1 class="info-name">
            <div class="first-name">Guillaume</div>
            <div class="last-name">Dauplat</div>
          </h1>
          <div class="info-title">Full-stack Web Developer</div>
          <div class="info-socials">
            <a href="https://github.com/g33ktou" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/guillaume-dauplat-326841164/" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-linkedin"></span>
            </a>
            <a href="https://www.facebook.com/guillaume.freaks" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-facebook"></span>
            </a>
          </div>
          <hr>
          <div class="row">
            <div class="flexbox">
              <div class="col-xs-12 col-sm-4">
                <div class="aboutme">put link for text about myself here</div>
                  <%= link_to "more about me", about_path %>
                <div class="vl"></div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="myexp">put link for my exp here</div>
                  <%= link_to "my exp", experience_path %>
                <div class="vl"></div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="certifications">put link for my certif here</div>
                 <%= link_to "my certif", certification_path %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--   <section class="section-curriculum" style="background-color: black;">
    <div class="bg-part-left"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex">
          <div class="section-title">CV</div>
        </div>
        <div class="col align-items-center d-flex bg-left-col" style="height: 100%;">
          <div class="timeline-container">
            <div class="timeline-item">
              <div class="timeline-point"></div>
              <div class="row">
                <div class="col-md-5">
                  <div class="timeframe">June 2018 - Present</div>
                  <div class="heading">Freelance</div>
                  <div class="title">Full-stack Developer</div>
                  <div class="location">France</div>
                </div>
                <div class="col">
                  put text here
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-point"></div>
              <div class="row">
                <div class="col-md-5">
                  <div class="timeframe">April 2018 - June 2018</div>
                  <div class="heading">Certification in digital technology</div>
                  <div class="title">Student</div>
                  <div class="location">Marseille, France</div>
                </div>
                <div class="col">
                  At le wagon, computer school, fundamental knowledge in web programming language, front-end and back-end
                  <br>
                  Ruby and coding basics (ruby, git)
                  <br>
                  Software engineering
                  <br>
                  Database and Sql (SQL, PostgreSQL)
                  <br>
                  Front-end (HTML5, CSS3, JS)
                  <br>
                  Rails (Rails, Heroku)
                  <br>
                  personal project (Urbantraining.eu)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
