<div class="home-component">
  <section class="section-header">
    <div class="container">
      <div class="row" style="background-color: black;">
        <div class="avatar-container" style="text-align: center;">
          <div class="deadpool"></div>
        </div>
      </div>
      <div class="row align-items" style="background-color: #1b1b1c">
        <div class="info-container">
          <h1 class="info-name">
            <div class="first-name">Guillaume</div>
            <div class="last-name">Dauplat</div>
          </h1>
          <div class="info-title">Full-stack Web Developer</div>
          <div class="info-socials">
            <a href="https://github.com/g33ktou" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/guillaume-dauplat-326841164/" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-linkedin"></span>
            </a>
            <a href="https://www.facebook.com/guillaume.freaks" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-facebook"></span>
            </a>
          </div>
          <hr>
          <div class="row">
            <div class="flexbox">
              <div class="col-xs-12 col-sm-4">
                <div class="aboutme">put link for text about myself here</div>
                  <%= link_to "more about me", about_path, class: "btn btn-menu" %>
                <div class="vl"></div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="myexp">put link for my exp here</div>
                  <%= link_to "Myxp", experience_path, class: "btn btn-menu" %>
                <div class="vl"></div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="certifications">put link for my certif here</div>
                  <%= link_to "Mycertif", certification_path, class: "btn btn-menu" %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
