<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.js-scrollTo').on('click', function() { // Au clic sur un élément
      var page = $(this).attr('href'); // Page cible
      var speed = 750; // Durée de l'animation (en ms)
      $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      return false;
    });
  });
</script>
<div class="home-component">
  <section class="section-header">
    <div class="container">
      <div class="row" style="background-color: black;">
        <div class="avatar-container" style="text-align: center;">
          <div class="deadpool"></div>
        </div>
      </div>
      <div class="row align-items" style="background-color: #1b1b1c">
        <div class="info-container">
          <h1 class="info-name">
            <div class="first-name">Guillaume</div>
            <div class="last-name">Dauplat</div>
          </h1>
          <div class="info-title">Full-stack Web Developer</div>
          <div class="info-socials">
            <a href="https://github.com/g33ktou" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/guillaume-dauplat-326841164/" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-linkedin"></span>
            </a>
            <a href="https://www.facebook.com/guillaume.freaks" target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true" class="fab fa-facebook"></span>
            </a>
          </div>
          <a class="js-scrollTo link-white"  href="#page-1">Click me if you are lazy to scroll</a>
          <hr>
          <div id="page-1">
            <div class="row">
              <div class="flexbox">
                <div class="col-xs-12 col-sm-4">
                  <div class="aboutme">Click here if u want to know more about me, because "all the dinosaurs feared the T-REX"</div>
                    <%= link_to "more about me", about_path, class: "btn btn-menu btn-mg-top" %>
                  <div class="vl"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="myexp">Here is my current experience "McAvoy or Stewart? These timelines are confusing."</div>
                    <%= link_to "My experiences", experience_path, class: "btn btn-menu btn-mg-top" %>
                  <div class="vl"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="certifications">if you are interested you can see my certifications here "He got Ajax from the dish soap!"</div>
                    <%= link_to "My certifications", certification_path, class: "btn btn-menu btn-mg-top" %>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="finalquote">"Listen my fellow viewer, if I never see you again, I want you to know that I love you very much. I also buried 1,600 kilos of cocaine somewhere in my apartment -- right next to the cure for blindness. Good luck."</div>
        </div>
      </div>
    </div>
  </section>
</div>
