<div class="home-component">
  <section class="section-header">
    <div class="bg-part-right"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 align-items-center full-height d-flex" style="background-color: black;">
          <div class="avatar-container">
            <div class="deadpool">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
