.deadpool {
  background-image: image-url("deadpool-logo.jpg");
  width: 65%;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  border-style: none;
  background-repeat: no-repeat;
}
