.container {
  height: 100vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  background-position: center;
  margin-top: 15px;
  background-color: #1b1b1c;
  height: 95vh;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: space-between;
}
.about h1 {
  color: red;
  position: relative;
}
.about p {
  color: white;
}

.container-certification {
  background-color: #1b1b1c;
  height: 95vh;
}

.container-experience {
  background-color: #1b1b1c;
  height: 95vh;
}
