.finalquote {
  margin-bottom: 45px;
  color: red;
  font-size: 30px;
  margin-top: 15px;
  bottom: 0;
  right: 0;
}



// .finalquote span {
//   position: absolute;
//   bottom: 0;
// }

.align-items {
  min-height: 1300px;
}
