.finalquote {
  margin-bottom: 45px;
  color: red;
  font-size: 30px;
  margin-top: 150px;
  min-width: 600px;
}



// .finalquote span {
//   position: absolute;
//   bottom: 0;
// }

.align-items {
  min-height: 1200px;
}
