.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  flex-shrink: 2;
  flex: 0 100% 200px;
  min-width: 608px;
}

.vl {
    border-left: 1px dotted red;
    height: 200px;
    position: absolute;
    right: 0;
    margin-left: -3px;
    top: 0;
    width: 3px;
}

.aboutme {
  color: white;
}

.myexp {
  color: white;
}

.certifications {
  color: white;
}




