.section-header {
  position: relative;
}

.section-header .full-height {
  height: 100vh;
}

.section-header .avatar-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 20px;
}

.section-header .info-container {
  position: relative;
  padding: 1.75rem 1.75rem 0rem;
  width: 100%;
}



// .section-header .info-container .info-name {
//   position: relative;
// }

// .section-header .info-container .info-name .first-name {
//   position: relative;
// }

// .section-header .info-container .info-name .last-name {
//   position: relative;
// }

// .section-header .info-container .info-title {
//   position: relative;
// }

// .section-header .info-container .info-socials {
//   position: relative;
// }

// .section-header .info-container .info-socials a{
//   position: relative;
// }

// .section-header .info-container .info-socials a:hover{
//   position: relative;
// }

// .section-header .info-container hr{
//   position: relative;
// }
